.sortIcon {
  display: none;
}

.active {
  font-weight: 700;
  color: var(--primary);
}

.active .sortIcon {
  display: block;
  margin-right: 8px;
}

.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.sortName {
  display: none;
}

.sortButton {
  cursor: pointer;
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-family);
}

.sortItem:not(.active) {
  grid-template-columns: 1fr;
}
