:root {
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --gray-light: #ebebeb;
}

body {
  color: var(--black);

  /* background: #e5e5e5; */
}
