:root {
  --black: #3b434e;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --gray-light: #ebebeb;
  --gray-dark: #787d85;
  --gray: #a4a4a4;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--black);
  margin: 0;
  background: #f5f6f8;
}
